#center 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20vh);
    max-width: 100%; 
    max-height: 100%; 
}
  
#button-container 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
}

button
{
    width: 200px;
    height: 100px;
    font-family: 'Comic Sans MS';
    background-color: #152151;
    margin: 0;
    padding: 0;
    font-size:125%;
    color:white;
    text-shadow: 2px 2px 0 #080d21;
    border:3px white solid;
    border-radius:5px;
}

button:hover
{
    background-color:#080d21;
}
body, html
{
    text-align:center;
    margin:0;
    background-image:url("heximuscrop.png");
    background-size:cover;
    font-family:'Comic Sans MS';    
    overflow:hidden;
    color:white;
    text-shadow: 2px 2px 0 #080d21;
}
#pytanie
{
    font-size:200%;
    width:100%;
    padding:2vh;
}
#naglowek
{
    font-size:150%;
    background-color:#152151;
    height:15vh;
}
h1, p
{
    margin:0;
}
#wygrana
{
    font-size:200%;
    color:lightgreen;
}
#przegrana
{
    font-size:200%;
    color:lightpink;
}
#gra
{
    height:80vh;
}
#stopka
{
    height:5vh;
    background-color:#152151;    
}
#faja
{
    width: 64px;
    image-rendering: pixelated;
}
a:link, a:visited
{
    color:skyblue;
    text-decoration:none;
}